In [34]:
import pandas as pd

url_ = "https://en.wikipedia.org/wiki/Research_stations_in_Antarctica"

df = pd.concat(pd.read_html(url_))
df

,Name,Location,Country,Admin.,Year est.,Max. persons,Summer pop.,Winter pop.,LOCODE,UTC offset,...,Closed.1,vteAntarctica,vteAntarctica.1,vteAntarctica.2,vtePolar exploration,vtePolar exploration.1,Arctic,Arctic.1,Antarctic,Antarctic.1
0,Amundsen–Scott South Pole,Geographical South Pole,United States,United States Antarctic Program,1957.0,153.0,150.0,49.0,AQ AMS,+12[a],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arctowski,King George Island,Poland,Polish Academy of Sciences,1977.0,40.0,40.0,16.0,AQ ARC,−3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arrival Heights Laboratory[12],Ross Island,New Zealand,Antarctica New Zealand,1959.0,NaN,NaN,NaN,AQ,+12[a],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arrival Heights Satellite Station[12],Ross Island,New Zealand,Antarctica New Zealand,1959.0,NaN,NaN,NaN,AQ,+12[a],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Artigas,King George Island,Uruguay,Uruguayan Antarctic Institute,1984.0,60.0,9.0,8.0,AQ ART,−3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN